.hosting {
    height: 100%;
    padding: 5em 12em;
}

.hosting header {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1050px) {
    .hosting {
        height: 100%;
        padding: 3em 5em;
    }

}

@media (max-width: 650px) {
    .hosting {
        padding: 1.5em 2em;
    }
}
