.bookingDetails {
    padding: 2em 6em;
}

.yearDisplay {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 2em;
}

.chartsDisplay {
    padding-top: 1em;
}

.liquidDisplay {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    padding: 1em;
    box-sizing: border-box;
    border: 0.3px solid darkgrey;
    justify-content: center;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}


.bookingHistory {
    padding: 2em 0;
}
.actionPriceBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: rgba(0, 0, 0, 0.88);
}

.actionBox {
    display: flex;
    margin-top: 1em;
    gap: 0.5em;
}


@media (max-width: 1160px) {
    .chartsDisplay {
        padding: 1em 1em;
    }

}


@media (max-width: 1000px) {

}

@media (max-width: 880px) {
    .bookingDetails {
        padding: 2em 4em;
    }
    .bookingDetails h3 {
        font-size: 1.5em;
    }
    .bookingDetails h5 {
        font-size: 1em;
    }
    .actionBox {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }
}
@media (max-width: 720px) {
}

@media (max-width: 651px) {

    .ant-list-item {
        display: flex;
        flex-direction: row;
    }

}

@media (max-width: 600px) {
    .yearDisplay {
        display: flex;
        flex-direction: column;
    }



}

