.carousel-container {
    width: 18em;
    overflow: hidden;
}

.carousel-content {
    height: 18em;
    text-align: center;
}

.image-container {
    position: relative;
    text-align: center;
}

.carousel-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.2em;
}


.ant-carousel .slick-dots li.slick-active button {
    background: #364d79;
}
.ant-carousel .slick-dots li button {
    background: #364d79;
}
