.carousel-container {
    width: 18em;
    overflow: hidden;
}

.carousel-content {
    height: 18em;
    text-align: center;
}

.image-container {
    position: relative;
    text-align: center;
}

.carousel-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.2em;
}


.ant-carousel .slick-dots li.slick-active button {
    background: #364d79;
}
.ant-carousel .slick-dots li button {
    background: #364d79;
}

@media (max-width: 601px) {
    .carousel-container {
        width: 12em;
        overflow: hidden;
    }

    .carousel-content {
        height: 12em;
        text-align: center;
    }

    .ant-list-item-main .ant-space-item {
        display: flex;
        flex-wrap: nowrap;
        padding: 0;
        font-size: 0.8em;
    }
}