

.inputBedCount {
    display: flex;
    flex-direction: row;
    gap:0.3em;
    margin-top: 0.3em;
}

.modal-dialog button {
    margin-top: 0.5em!important;
    margin-bottom: 0.5em;
}

.operationHosting {
    display: flex;
    gap: 0.3em;
}