/* BookingList.css */

.bookingListContainer {
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
}

.bookingListContainer h2 {
    margin-bottom: 10px; /* Space between header and line */
}

.bookingListContainer hr {
    border: 0;
    height: 1px;
    background-color: #ccc; /* Line color */
    margin-bottom: 20px; /* Space between line and list */
}
