.publicListing {
    display: flex;
    flex-wrap: wrap;
    gap: 4em; /* 调整卡片之间的间距 */
}
.publicHost {
    display: flex;
    flex-direction: column;
}
.publicListing .publicHost .ant-card-body {
    padding: 0;
}

.slick-list img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}